/* This styles the aside container */
#aSide {
  display: flex;
  justify-content: center;
  height: 500px;
  position: relative;
  top: -1cm;
}

/* This styles the 3D object inserted in the aside container */
#aSide model-viewer {
  height: 100%;
  width: 120%;
  position: relative;
}

.content {
  height: 100px;
  width: 40%;
  position:absolute ;
  top: 4cm;
  left: 10%;
  font-size: 4em;
  font-family: 'Alfa Slab One', cursive;
}

.grid {
  display: grid;
  margin-top: 2em;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
}

.image {
  width: 500px;
  max-width: 100%;
  height: auto;
}
